body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.button-container {
    text-align: center;
}

.button-list {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px;
}

button {
    width: 500px;
    height: 400px;
    background-color: #0074d9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 60px;
}

button:hover {
    background-color: #0056b3;
}
